html {
    height: 100%;
}
/*navbar*/
.inline-block {
    display: inline-block;
    vertical-align: top;
}

#navbar {
    flex-direction: row;


}
.logo {
    width: 40%;
    padding: 1%;
    background-color: aqua;
}
.nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    padding: 1%;
}
.img {
    text-align: center;
}


/*heroImg*/
.heroImg {
    padding: 25px;
    margin: 0 auto;
    overflow: auto;
    width: 80%;
    
}
.content {
    width: 60%;
    margin: 0 auto;
    min-height: 100%;
    float: right;
}
.headshot {
    float:left;
}
footer {
    background-color: #373788;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    justify-self: flex-end;
    flex-grow: 1;

    margin-top: auto;

    display: flex;
    flex-direction: column;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    
}

/*@media only screen and (max-width: 600) {
flex-direction: column;
width: 100%;
grid-template-columns: ;
grid-template-areas: ;
grid-template-rows:  ;


}